---
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
  const data = await fetch("https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/t8_karrusel_supabase",
  {
    method:"GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
    },
    }
).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}

const { slug } = Astro.params;
const { artist } = Astro.props;

const { myData } = Astro.props;
console.log(myData);
---

<MainLayout title={myData['artistname']}>
<h2>{myData['artistname']}</h2>
<p>{myData['lokation']}</p>
</MainLayout>

<!-- dot notation virkede ikke = {myData.artistname} i stedet løst med bracket notation -->

<!-- 
export async function getStaticPaths() {
//     const data = await fetch('https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/t8_karrusel_supabase', {
//     method: "GET",
//     headers: {
//         apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
//     },
// }).then((response) => response.json());

//     return data.map((show) => {
//         return {
//             params: { slug: show.slug },
//             props: { myData: show },
//         };
//     });
// } -->