.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #45a049;
}
.gallery {
  display: none;
}
.gallery.active {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.gallery.active:not(:first-child) {
  margin-top: 0;
}

.gallery img {
  max-width: 100px;
  margin-right: 10px;
}
