.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
  display: none; /* Skjuler standardmæssigt alle gallerier */
}

.show {
  display: block; /* Viser galleriet, når klassen 'show' tilføjes */
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.button {
  padding: 15px 35px;
  background-color: #f0b921;
  color: #63313a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 70px;
  margin-left: 70px;
}

#btn2023,
#btn2022,
#btn2021,
#btn2019 {
  font-size: var(--h1-textD1);
  font-family: var(--primary-font);
}

.button:hover {
  background-color: #6ebba4;
}

.column.show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 20px;
  margin-top: 30px;
  justify-items: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  /* Specifik styling for at få billederne til at tage op 50% af galleriets bredde */
  width: 100%;
}
