* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Generelle styles */
:root {
  /* aubergine */
  --background-color: #3d1a20;
  --aubergine: #63313a;

  /* red */
  --red90: rgb(218, 96, 78, 90);
  --red: #da604e;
  --redD: #be4937;

  /* beige */
  --beige90: rgb(255, 233, 195, 90);
  --beige: #ffe9c3;
  --beigeL: #fff1db;

  /* gold */
  --guld90: rgb(240, 185, 33, 90);
  --guld: #f0b921;

  /* cyan */
  --cyan50: rgb(110, 187, 164, 50);
  --cyan90: rgb(110, 187, 164, 90);
  --cyan: #6ebba4;
  --cyanL: #83c9b1;

  /* font */
  /* .pridi-regular {
  font-family: "Pridi", serif;
  font-weight: 400;
  font-style: normal;
} */
  --font-family: "Pridi", serif;
}

h1 {
  font-family: "Pridi", serif;
  color: #be4937;
}
