---
import "../styles/faq.css"
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="FAQ">
       <h1>Her skal du layoute FAQ</h1>
</MainLayout>
---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro"
---


		<MainLayout>
            <main>
                <h1>FAQ</h1>
    
    <section class="questions">
    
    <p>What is Karrusel?</p>
    
    </section>
    
                
               </main>
        </MainLayout>


<style>
    .questions{
        background-color: #6EBBA4;
    }
</s