---
import "../styles/faq.css"
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="FAQ">
    <main>

        <section class="top_sec">

<div id="faq_img_con">
    <div id="faq_img"></div>
</div>
        </section>


        <div id="pointer_container">
            <div id="pointer_sprite"></div>
        </div>


<section class="questions">
<p class="question"> <a class="plus" href="#">+</a>What is Karrusel?</p>
<p class="question"> <a class="plus" href="#">+</a>Contact us</p>
<p class="question"> <a class="plus" href="#">+</a>Timetable and map over Karrusel Festival</p>
<p class="question"> <a class="plus" href="#">+</a>Is it possible to buy merchandise?</p>
<p class="question"> <a class="plus" href="#">+</a>What happens in relation to bad weather?</p>
<p class="question"> <a class="plus" href="#">+</a>How can I apply to perform?</p>
</section>

        
       </main>

</MainLayout>



	
           


<style>

    .top_sec{
        background-color: #3D1A20;
        height: 10rem;
    }

    #faq_img_con{
        width: 10%;
    aspect-ratio: 198/92;
    position: absolute;
   
    }

    #faq_img{
        background-image: url(../../faq_banner.svg);
        width: 100%;
        height: 100%;
    }
    .questions{
        background-color: #6EBBA4;
        display: flex;
        flex-direction: column;
        
    }

     .question{
        background-color: #FFE9C3;
        color: #63313A;
        padding: 15px;
        margin: 20px;
        border-radius: 6px;
    }

    .plus{
        color: #F0B921;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 40px;
    }

    #pointer_container {
    width: 10%;
    aspect-ratio: 198/92;
    position: absolute;
    top: 30%;
    left: 2%;
  }

  #pointer_sprite {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../../img/hand_left.svg);
    filter: drop-shadow(0px 25px 25px rgb(0 0 0 / 0.5));
  }


</style>