---
import "../styles/faq.css"
import MainLayout from "../layouts/MainLayout.astro";
import Backbutton from "../components/Backbutton.astro";
---


<MainLayout title="FAQ">

<section class="top_sec">
<Backbutton />

<div id="faq_img_con">
    <div id="faq_img"></div>
</div>
 </section>

<main>

<section class="questions">



<p class="question"> <a class="plus" href="#">+</a>What is Karrusel?</p>
<p class="question"> <a class="plus" href="#">+</a>Contact us</p>
<p class="question"> <a class="plus" href="#">+</a>Timetable and map over Karrusel Festival</p>
<p class="question"> <a class="plus" href="#">+</a>Is it possible to buy merchandise?</p>
<p class="question"> <a class="plus" href="#">+</a>What happens in relation to bad weather?</p>
<p class="question"> <a class="plus" href="#">+</a>How can I apply to perform?</p> 
</section>

        
 </main>

 <section class="bot_sec">
   
</section>

</MainLayout>



	
           


<style>

    .top_sec{
        background-color: #3D1A20;
        height: 15rem;
    }

    .bot_sec{
        background-color: #3D1A20;
        height: 8rem;
    }

    #faq_img_con{
        width: 100%;
  aspect-ratio: 390/53;
  position: absolute;
  top: 37%;
   
    }

    #faq_img{
        background-image: url(../../img/faq_banner.svg);
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .questions{
        background-color: #6EBBA4;
        display: flex;
        flex-direction: column;
        
    }

   

     .question{
        background-color: #FFE9C3;
        color: #63313A;
        padding: 15px;
        margin: 20px;
        border-radius: 6px;
    }

    .plus{
        color: #F0B921;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 40px;
    }
    

  




  /* Dropdown Button */
.dropbtn {
  background-color: #ffe9c3;
  color: #3d1a20;
  padding: 15px;
  padding-right: 7rem;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 1rem;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffe9c3;
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #3d1a20;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

span {
  color: #f0b921;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 40px;
}
 

</style>


<script>

    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function (event) {
  if (!event.target.matches(".dropbtn")) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains("show")) {
        openDropdown.classList.remove("show");
      }
    }
  }
};

</script>