---
import "../styles/galleri.css"
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gallery">
    <div class="row">
  <div class="column">
    <img src="../../public/gallery/billede1.webp" alt="">
     <img src="../../public/gallery/billede2.webp" alt="">
     <img src="../../public/gallery/billede3.webp" alt="">
     <img src="../../public/gallery/billede4.webp" alt="">
  </div>

  <div class="column">
     <img src="../../public/gallery/billede5.webp" alt="">
     <img src="../../public/gallery/billede6.webp" alt="">
     <img src="../../public/gallery/billede7.webp" alt="">
     <img src="../../public/gallery/billede8.webp" alt="">
  </div>

  <div class="column">
     <img src="../../public/gallery/billede9.webp" alt="">
     <img src="../../public/gallery/billede10.webp" alt="">
     <img src="../../public/gallery/billede11.webp" alt="">
     <img src="../../public/gallery/billede12.webp" alt="">
  </div>

  <div class="column">
     <img src="../../public/gallery/billede13.webp" alt="">
     <img src="../../public/gallery/billede14.webp" alt="">
     <img src="../../public/gallery/billede15.webp" alt="">
     <img src="../../public/gallery/billede16.webp" alt="">
  </div>
</div>
</MainLayout>