---
import "../styles/galleri.css"
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Gallery">

   <div class="container">
    <button class="button" id="btn2023">2023</button>
    <button class="button" id="btn2022">2022</button>
    <button class="button" id="btn2021">2021</button>
    <button class="button" id="btn2019">2019</button>
  </div>

  <div class="row">
  <div class="column" id="gallery2023">
    <img src="./gallery/2023/billede1.webp" alt="2023 Image 1" loading="lazy">
    <img src="./gallery/2023/billede2.webp" alt="2023 Image 2" loading="lazy">
    <img src="./gallery/2023/billede3.webp" alt="2023 Image 3" loading="lazy">
    <img src="./gallery/2023/billede4.webp" alt="2023 Image 4" loading="lazy">
    <img src="./gallery/2023/billede5.webp" alt="2023 Image 5" loading="lazy">
    <img src="./gallery/2023/billede6.webp" alt="2023 Image 6" loading="lazy">
    <img src="./gallery/2023/billede7.webp" alt="2023 Image 7" loading="lazy">
    <img src="./gallery/2023/billede8.webp" alt="2023 Image 8" loading="lazy">
    <img src="./gallery/2023/billede9.webp" alt="2023 Image 9" loading="lazy">
    <img src="./gallery/2023/billede10.webp" alt="2023 Image 10" loading="lazy">
    <img src="./gallery/2023/billede11.webp" alt="2023 Image 11" loading="lazy">
    <img src="./gallery/2023/billede12.webp" alt="2023 Image 12" loading="lazy">
    <img src="./gallery/2023/billede13.webp" alt="2023 Image 13" loading="lazy">
    <img src="./gallery/2023/billede14.webp" alt="2023 Image 14" loading="lazy">
    <img src="./gallery/2023/billede15.webp" alt="2023 Image 15" loading="lazy">
    <img src="./gallery/2023/billede16.webp" alt="2023 Image 16" loading="lazy">
    <img src="./gallery/2023/billede17.webp" alt="2023 Image 17" loading="lazy">
    <img src="./gallery/2023/billede18.webp" alt="2023 Image 18" loading="lazy">
  </div>


  <div class="column" id="gallery2022">
    <img src="./public/gallery/2022/billede1.webp" alt="2022 Image 1" loading="lazy">
    <img src="./public/gallery/2022/billede2.webp" alt="2022 Image 2" loading="lazy">
    <img src="./public/gallery/2022/billede3.webp" alt="2022 Image 3" loading="lazy">
    <img src="./public/gallery/2022/billede4.webp" alt="2022 Image 4" loading="lazy">
    <img src="./public/gallery/2022/billede5.webp" alt="2022 Image 5" loading="lazy">
    <img src="./public/gallery/2022/billede6.webp" alt="2022 Image 6" loading="lazy">
    <img src="./public/gallery/2022/billede7.webp" alt="2022 Image 7" loading="lazy">
    <img src="./public/gallery/2022/billede8.webp" alt="2022 Image 8" loading="lazy">
    <img src="./public/gallery/2022/billede9.webp" alt="2022 Image 9" loading="lazy">
    <img src="./public/gallery/2022/billede10.webp" alt="2022 Image 10" loading="lazy">
    <img src="./public/gallery/2022/billede11.webp" alt="2022 Image 11" loading="lazy">
    <img src="./public/gallery/2022/billede12.webp" alt="2022 Image 12" loading="lazy">
    <img src="./public/gallery/2022/billede13.webp" alt="2022 Image 13" loading="lazy">
    <img src="./public/gallery/2022/billede14.webp" alt="2022 Image 14" loading="lazy">
    <img src="./public/gallery/2022/billede15.webp" alt="2022 Image 15" loading="lazy">
    <img src="./public/gallery/2022/billede16.webp" alt="2022 Image 16" loading="lazy">
  </div>


  <div class="column" id="gallery2021">
   <img src="./public/gallery/2021/billede1.webp" alt="2021 Image 1" loading="lazy">
    <img src="./public/gallery/2021/billede2.webp" alt="2021 Image 2" loading="lazy">
    <img src="./public/gallery/2021/billede3.webp" alt="2021 Image 3" loading="lazy">
    <img src="./public/gallery/2021/billede4.webp" alt="2021 Image 4" loading="lazy">
    <img src="./public/gallery/2021/billede5.webp" alt="2021 Image 5" loading="lazy">
    <img src="./public/gallery/2021/billede6.webp" alt="2021 Image 6" loading="lazy">
    <img src="./public/gallery/2021/billede7.webp" alt="2021 Image 7" loading="lazy">
    <img src="./public/gallery/2021/billede8.webp" alt="2021 Image 8" loading="lazy">
    <img src="./public/gallery/2021/billede9.webp" alt="2021 Image 9" loading="lazy">
    <img src="./public/gallery/2021/billede10.webp" alt="2021 Image 10" loading="lazy">
    <img src="./public/gallery/2021/billede11.webp" alt="2021 Image 11" loading="lazy">
    <img src="./public/gallery/2021/billede12.webp" alt="2021 Image 12" loading="lazy">
  </div>

  <div class="column" id="gallery2019">
   <img src="./public/gallery/2019/billede1.webp" alt="2019 Image 1" loading="lazy">
    <img src="./public/gallery/2019/billede2.webp" alt="2019 Image 2" loading="lazy">
    <img src="./public/gallery/2019/billede3.webp" alt="2019 Image 3" loading="lazy">
    <img src="./public/gallery/2019/billede4.webp" alt="2019 Image 4" loading="lazy">
    <img src="./public/gallery/2019/billede5.webp" alt="2019 Image 5" loading="lazy">
    <img src="./public/gallery/2019/billede6.webp" alt="2019 Image 6" loading="lazy">
    <img src="./public/gallery/2019/billede7.webp" alt="2019 Image 7" loading="lazy">
    <img src="./public/gallery/2019/billede8.webp" alt="2019 Image 8" loading="lazy">
    <img src="./public/gallery/2019/billede9.webp" alt="2019 Image 9" loading="lazy">
    <img src="./public/gallery/2019/billede10.webp" alt="2019 Image 10" loading="lazy">
    <img src="./public/gallery/2019/billede11.webp" alt="2019 Image 11" loading="lazy">
    <img src="./public/gallery/2019/billede12.webp" alt="2019 Image 12" loading="lazy">
  </div>

</div>

<script>
 document.addEventListener("DOMContentLoaded", function() {
  // Gemmer referencer til alle knapper og billeder
  const buttons = document.querySelectorAll('.button');
  const galleries = document.querySelectorAll('.column');

  // Tilføjer en event listener til hver knap
  buttons.forEach(button => {
    button.addEventListener('click', function() {
      const year = this.id.substring(3); // Udtrækker året fra knappens id
      // Skjuler alle gallerier
      galleries.forEach(gallery => {
        gallery.classList.remove('show'); // Fjerner klassen 'show' fra alle gallerier
      });
      // Viser det galleri der matcher året for den klikkede knap
      document.getElementById(`gallery${year}`).classList.add('show'); // Tilføjer klassen 'show' til det valgte galleri
    });
  });
});

</script>
  
</MainLayout>
