---
import "../styles/galleri.css"
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gallery">
    
    <div class="gallery">
        <div>
         <img src="#" alt="">
        </div>

        <div class="v-stretch">
         <img src="#" alt="">
        </div>

        <div class="h-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div class="v-stretch">
         <img src="#" alt="">
        </div>

        <div class="big-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div class="h-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div class="v-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div class="big-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div class="h-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div class="big-stretch">
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

        <div>
         <img src="#" alt="">
        </div>

    </div>
        
          
       
</MainLayout>