---
import "../styles/galleri.css"
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gallery">
    <div class="row">
  <div class="column">
    <img src="../../public/gallery/2023/billede1.webp" alt="img1">
     <img src="../../public/gallery/2023/billede2.webp" alt="img2">
     <img src="../../public/gallery/2023/billede3.webp" alt="img3">
     <img src="../../public/gallery/2023/billede4.webp" alt="img4">
  </div>

  <div class="column">
     <img src="../../public/gallery/2023/billede5.webp" alt="img5">
     <img src="../../public/gallery/2023/billede6.webp" alt="img6">
     <img src="../../public/gallery/2023/billede7.webp" alt="img7">
     <img src="../../public/gallery/2023/billede8.webp" alt="img8">
  </div>

  <div class="column">
     <img src="../../public/gallery/2023/billede9.webp" alt="img9">
     <img src="../../public/gallery/2023/billede10.webp" alt="img10">
     <img src="../../public/gallery/2023/billede11.webp" alt="img11">
     <img src="../../public/gallery/2023/billede12.webp" alt="img12">
  </div>

  <div class="column">
     <img src="../../public/gallery/2023/billede13.webp" alt="img13">
     <img src="../../public/gallery/2023/billede14.webp" alt="img14">
     <img src="../../public/gallery/2023/billede15.webp" alt="img15">
     <img src="../../public/gallery/2023/billede16.webp" alt="img16">
  </div>
</div>


</MainLayout>
