---
import "../styles/index.css"
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Lineups">
    <div id="screen">
        <div id="index_background"></div>
        <div id="index_elements">
            <div id="invite_container">
                <div id="invite_sprite"></div>
            </div>
            <div id="timer_container">
                <div id="timer_sprite"></div>
            </div>
            <div id="ticket_container">
                <div id="ticket_sprite"></div>
            </div>
            <div id="pointer_container">
                <div id="pointer_sprite"></div>
            </div>
        </div>
	</div>
</MainLayout>
