---
import "../styles/index.css"
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Lineups">
    <div id="screen">
                <div id="index_background"></div>
				</div>
</MainLayout>
