---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Backbutton from "../components/Backbutton.astro";
import Titlebanner from "../components/Titlebanner.astro";
const data = await fetch("https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/t8_karrusel_supabase",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
    },
}).then((res) => res.json());

// console.log(data);
---

<MainLayout title="Line-ups">
    <Backbutton />
    <Titlebanner h1="Artists" />

<section class="artists">
    {data.map((show) => {
    return <Card data={show} className="card" />;
    })
    }
</section>

<div id="scrollindicator"></div>

<div id="plakat">
    <img src="/img/lineups23plakat.webp" alt="Poster program over performers">
</div>
</MainLayout>

<style>
.artists {
        display: flex;
        overflow: auto;
        /* etablerer scrolling effect, der skal rulle via. x-aksen */
        scroll-snap-type: x mandatory;
        padding: 10px;
        gap: 20px;
        /* sørger for at der er padding mellem elementer når der scrolles */
        scroll-padding: 10px;
         /* gemmer de forskellige browerseres standard scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
.artists::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
    }
.artists .card {
    /* cards viser sig 100% og ikke forstrækkes */
        flex: 0 0 100%;
        /* sørger at de ruller jævnt */
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
/* Hvis af en eller anden årsag, at scrollbar ikke gemmes, så justeres farven på scrollbar til temaet*/
.artists {
    scrollbar-color: var(--guld) transparent;
    }
#scrollindicator {
     position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px; /* Juster højden efter behov */
    background-color: red; /* Farven på indikatorbjælken */
    z-index: 9999; /* Sørg for, at indikatorbjælken er foran alt andet indhold */
    transition: transform 0.3s ease; /* Tilføj en overgangseffekt for at gøre det mere jævnt */

}
body.scrolled #scrollindicator {
    width: 100%; /* Fyld hele bredden, når brugeren når bunden */
}
#plakat {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 80px 0;
    }

/* MOBIL */
@media (max-width: 800px) {
#plakat {
    width: 100%;
    height: auto;
    padding: 40px 0;
}
}
</style>