---
import "../styles/style.css";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro"
---

<MainLayout title="Lineups">
    <Header />
        <main>
            <Card />
            <slot />
        </main>
</MainLayout>
