---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Backbutton from "../components/Backbutton.astro";
import Titlebanner from "../components/Titlebanner.astro";
const data = await fetch("https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/t8_karrusel_supabase",
{
    method:"GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
    }
}).then(res=>res.json());

// console.log(data);
---

<MainLayout title="Line-ups">
    <Backbutton />
    <Titlebanner h1="Artists" />

<section class="artists">
    {data.map(show=>{
    return <Card data={show} className="card"/>;
    })
    }
</section>
</MainLayout>

<style>
 .artists {
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        padding: 10px;
        gap: 20px;
        scroll-padding: 10px;
    }

    
    .artists .card {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

</style>