---
import "../styles/tickets.css"
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Tickets">

    <div class="tickets"> 

    <div class="left"> 
          <img src="../../tickets/ticket1.svg" alt="" class="ticket" id="ticket1"> 
    </div>
 
    <div class="right">
         <img src="../../tickets/ticket2.svg" alt="" class="ticket" id="ticket2">
    </div>

 
</MainLayout>