---
import "../styles/tickets.css"
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Tickets">
    <div class="tickets">
        <div class="left">
            <img src="../../public/tickets/ticket1.svg" alt="">
            <!-- <img src="../../public/tickets/ticket1_hover.svg" alt="" class="hover-image"> -->
        </div>

        <div class="right">
            <img src="../../public/tickets/ticket2.svg" alt="">
             <!-- <img src="../../public/tickets/ticket1_hover.svg" alt="" class="hover-image"> -->
        </div>
    </div>
</MainLayout>