---
import "../styles/tickets.css"
import MainLayout from "../layouts/MainLayout.astro";
import Titlebanner from "../components/Titlebanner.astro";
import Backbutton from "../components/Backbutton.astro";
---


<MainLayout title="Tickets">
     <Titlebanner h1="Tickets" />
      <Backbutton />

    <div class="tickets"> 

    <div class="left"> 
          <img src="../../tickets/ticket1.svg" alt="" class="ticket" id="ticket1"> 
    </div>
 
    <div class="right">
         <img src="../../tickets/ticket2.svg" alt="" class="ticket" id="ticket2">
    </div>

 
</MainLayout>