---
const {data} = Astro.props;
console.log(data);
---

<a href={`artists/${data.slug}`}>

<article>
    <h2>{data.artistname}</h2>
    <p>at fuga dolor dignissimos deleniti impedit et culpa? Explicabo minima eveniet delectus neque?</p>
    <button>Læs mere</button>
</article>
</a>


<style></style>

<!-- artists/acid-pauli -->