---
import "../styles/style.css";
---

<!-- <nav>
    <a href="/faq">FAQ</a>
    <a href="/galleri">Gallery</a>
    <a href="/"><img id="logovector" src="../img/header/logovector.svg" alt="Karrusels logo vector"></a>
    <a href="/lineup">Line - up</a>
    <div class="ticket">
    <img id="ticketbackground" src="../img/header/ticketbackground.svg" alt="">
    <a href="/tickets">Tickets</a>
    </div>
</nav> -->

