---
import "../styles/style.css";
---

<nav>
    <a href="../pages/faq.astro">FAQ</a>
    <a href="../pages/galleri.astro">Gallery</a>
    <a href="../pages/index.astro">Home</a>
    <a href="../pages/lineup.astro">Line-up</a>
    <a href="../pages/tickets.astro">Tickets</a>
</nav>

<style>
nav {
background-color: var(--aubergine);
box-shadow: rgb(39, 19, 23, 15);
padding: 2rem 1.8rem;
}
a {
color:var(--beige);
}
</style>

