---
import "../styles/style.css";
---

<nav>
    <a href="/faq">FAQ</a>
    <a href="/galleri">Gallery</a>
    <a href="/"><img id="logovector" src="../img/header/logovector.svg" alt="Karrusels logo vector"></a>
    <a href="/lineup">Line - up</a>
    <div class="ticket">
    <img id="ticketbackground" src="../img/header/ticketbackground.svg" alt="">
    <a href="/tickets">Tickets</a>
    </div>
</nav>

<style>
nav {
background-color: var(--aubergine);
box-shadow: rgb(39, 19, 23, 15);
padding: 1rem 0.4rem;
display: flex;
align-items: center;
justify-content: space-evenly;
}

nav a {
color:var(--beige);
font-size: var(--h2-textD1);
font-family: var(--primary-font);
text-transform: uppercase;
text-decoration: none;
}

nav a:hover {
color: var(--guld);
}

#logovector {
    width: 100%;
    height: auto;
}

/* ticket placering med baggrund */
.ticket {
position: relative;
text-align: center;
}

.ticket a {
    position: relative;
}

#ticketbackground {
position: absolute;
top: 0px;
left: 50%;
transform:translate(-50%, -50%);
width: 120%;
height: auto;
}
</style>
