---
import "../styles/style.css";
---

<!-- <div>
<img id="titlebanner" src="../../public/img/header/titlebanner.svg" alt="title banner graphic">
</div> -->


<style>
    #titlebanner {
    background: none;
    border: none;
    padding: 40px 22px;
    cursor: pointer;
    width: 10%;
    min-width: 147px;
    height: auto;
}
</style>