---
import "../styles/style.css";
const {h1} = Astro.props
---

<div id="titlebanner">
    <img id="banner" src="../img/header/titlebanner.svg" alt="title banner graphic">
    <h1 id="title">{h1}<h1/>
    <svg id="line" xmlns="http://www.w3.org/2000/svg" width="100%" height="2">
   <line x1="0" y1="1" x2="100%" y2="1" stroke-width="2"/></svg>
   <!-- svg vha. w3schools -->
</div>

<style>
  #titlebanner {
    margin-bottom: 80px;
position: relative;
text-align: center;
}

#title {
    position: relative;
    color: var(--aubergineD);
    text-transform: uppercase;
}

#line {
    position: absolute;
    top: 22px;
    left: 0;
    stroke: var(--line-color);
    z-index: -1;
}

#banner {
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%, -50%);
width: 60%;
height: auto;
}

@media (max-width:800px) {
#title {
    font-size: var(--h1-textM2);
}
#banner {
    width: 90%;
    height: auto;
}
#line {
top: 11px;
}
}
</style>